.controlBarLineContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.controlBarLineTitle {
    text-align: center;
    padding: 5px;
    font-size: 0.6em;
}

/* Upper Axis control */
.controlBarLineUpperAxis {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Lower Axis control */
.controlBarLineLowerAxis {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Swap button */
.controlBarLineSwap {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Invert upper axis*/
.controlBarLineInvertUpper {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Invert lower axis */
.controlBarLineInvertLower {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Swap axes */
.controlBarLineSwap button {
    width: 100%; 
    height: 50%; 
    cursor: pointer;
}
