.controlBarScatterContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.controlBarScatterTitle {
    text-align: center;
    padding: 5px;
    font-size: 0.6em;
}

/* X Axis control */
.controlBarScatterXAxis {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

/* Y Axis control */
.controlBarScatterYAxis {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.controlBarScatterColor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlBarScatterColor button {
    width: 100%; /* Customize to preferred size */
    height: 50%; /* Customize to preferred size */
    cursor: pointer;
    /* text in the middle */
    display: flex;
    justify-content: center;
    align-items: center;
}
